# Métodos mais usados para tratar dados

### Ler e printar CSV

In [ ]:
df = pd.read_csv('data/SINAN_original.csv', sep=';', low_memory=False)
df.head()

### Inserindo coluna de outro dataframe

In [ ]:
https://stackoverflow.com/questions/46396257/adding-a-new-column-in-pandas-dataframe-from-another-dataframe-with-differing-in

### Renomear colunas

In [ ]:
df.rename({
    'VIOL_FISIC': 'Violência Física',
    'VIOL_PSICO': 'Violência Psicológica',
    'VIOL_TORT': 'Tortura',
    'VIOL_SEXU': 'Violência Sexual',
    'VIOL_TRAF': 'Tráfico de seres humanos',
    'VIOL_FINAN': 'Violência financeira/econômica',
    'VIOL_NEGLI': 'Negligencia/ abandono',
    'VIOL_INFAN': 'Trabalho infantil',
    'VIOL_LEGAL': 'Intervenção legal',
    'VIOL_OUTR': 'Outros tipos de violência',
}, axis=1, inplace=True)

### Criar nova coluna

In [1]:
df['tipo_de_violencia'] = ""

NameError: name 'df' is not defined

### Filtrar tipos NaN e colocar String com 'Sem dados' no lugar

In [ ]:
df[list(df.filter(like='anos_idade'))] = df[list(df.filter(like='anos_idade'))].fillna('Sem dados')
df[list(df.filter(like='sexo'))] = df[list(df.filter(like='sexo'))].fillna('Sem dados')

### Transforma uma coluna em apenas um tipo de dado

In [ ]:
locations['longitude'] = locations['longitude'].astype('float')
locations['latitude'] = locations['latitude'].astype('float')
locations.dtypes

### Se tiver algum valor de coluna for 'Sim', então mova o nome da coluna que tem 'Sim' para ser um valor de coluna de 'tipo_da_violencia'

In [ ]:
for c in list(df.filter(like='Viol')):
    df['tipo_de_violencia'] = df['tipo_de_violencia'] + ' ' + df[c].replace('Sim', c)

### Mudar valores de coluna com 'Não' para ' ' (String vazia)

In [ ]:
df['tipo_de_violencia'] = [str(x).replace('Nao', '') for x in df['tipo_de_violencia']]

### Tirar espaços do valor da coluna

In [ ]:
df['tipo_de_violencia'] = [' '.join(str(x).split()) for x in df['tipo_de_violencia']]

### Remover colunas

In [ ]:
df.drop(columns=[
        'Violência Física',
        'Violência Psicológica',
        'Tortura',
        'Violência Sexual',
        'Tráfico de seres humanos',
        'Violência financeira/econômica',
        'Negligencia/ abandono',
        'Trabalho infantil',
        'Outros tipos de violência'], axis=1, inplace=True)

### Transforma as palavras de um valor de coluna em tipo Dict e remove as palavras repetidas
Importante também remover os espaços que sobraram, por isso dou um join novamente.

In [ ]:
def unique_list(l):
    ulist = []
    [ulist.append(x) for x in l if x not in ulist]
    return ulist

df['tipo_de_violencia'] = [unique_list(str(x).split()) for x in df['tipo_de_violencia']]
df['meio_da_agressao'] = [' '.join(list(x)) for x in df['meio_da_agressao']]

### Filtra nas colunas `identidade_de_genero` valores diferentes de `Sem dados` ou em `orientacao_sexual` diferente de `Heterossexual` ou `Sem Dados`.

In [ ]:
df_filtered = df.loc[(df['identidade_de_genero'] != 'Sem dados') | (~df['orientacao_sexual'].isin(['Heterossexual', 'Sem dados']))]

### Reorganizar colunas
Funciona apenas quando o dataframe já está sendo utilizado.

In [ ]:
df_reorganized = df[['col3', 'col2', 'col1']]
df_reorganized.to_csv('algumacoisa.csv')

### Salvar com o formato CSV (delimitador `,` como default)

In [ ]:
df.to_csv('algumacoisa.csv')

In [1]:
int(40.0)

40

### Um valor apenas pra coluna inteira

In [ ]:
df['industry'] = 'yyy'